body {
    background: fixed radial-gradient(rgb(221, 156, 156), rgb(25, 255, 236));
    text-align: center;
	}
	
h1 {
    font-family: Arial, sans-serif;
    color: purple;
    text-shadow: 1px 1px 1px black;
	}

img {
    height: 300px;
    width: 200px;
}
	
.imagens {
	overflow: hidden;
	margin: 1vh 1vw;
	border-radius: 30px;
	display: inline-block;

 
}